body{
	background-image: url("img/fondo.png");
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
#container{
	text-align: center;
	color: white;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -220px;
	font-style: italic;
	font-size: 120%;
}
.panel {
	height: 90vh;
	width: 250px;
	float: left;
	font-family: garamond, times-new-roman, serif;
	display: none;
}
.panel p{
	color:white;
	position: relative;
	text-align: center;
}
#foto{
	float: top;
	margin-left: 15px;
	margin-top: 50px;
}
.box{
	background: url('img/pc.png') no-repeat center;
	height: 120px;
	width: 198px;
	padding-left: 70px;
	padding-top: 30px;
	margin-left: -20px;
}
.box li{
	margin-right:50px;
	display: inline;
}
.slide {
	margin: 0;
	padding: 0;
	border-top: solid 2px #0D395E;
}
#pull-me {
	width: 100px;  
    height: 100px; 
    background: url("img/flechita.png") no-repeat center;  
	cursor: pointer;
	cursor: hand;
	float: left;
}
#close{
	background: url("img/cruz.png") no-repeat right center;  
	float: right;
	width: 30px;
	height: 30px;
	cursor: pointer;
	cursor: hand;
}